[submodule "trading_communication_protocol/trading_communication_protocol"]
	path = trading_communication_protocol/trading_communication_protocol
	url = https://github.com/fund3/TradingCommunicationProtocol.git
